p{
    color:black;
}

.titulo{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.imagem{
    padding: 10 10 10 10;
    align-items: center;
    border-radius: 0%;
}